<!-- LIST -->
<ul class="list-group">
  <li class="list-group-item" ng-repeat="item in bookmarks">
    {{item.name}} <code>{{item.address}}</code>
    <div class="pull-right">
      <a target="_blank" class="btn btn-primary btn-xs" ng-href="{{buildHref($index)}}">Go</a>
      <button class="btn btn-warning btn-xs" ng-click="deleteBookmark($index)">Delete</button>
    </div>
  </li>
</ul>

<!-- FORM -->
<div class="form-container center-block">
  <form>
    <div class="form-group">
      <label for="exampleInputName2">Reference</label>
      <input type="text" ng-model="newAddress" class="form-control" id="new-bookmark-hash" placeholder="ip(f/n)s hash/address here">
    </div>
    <div class="form-group">
      <label for="new-bookmark-name">Name</label>
      <input type="text" ng-model="newName" class="form-control" id="new-bookmark-name" placeholder="cool cat video">
    </div>
    <div class="form-group">
      <button class="btn btn-default" ng-click="addBookmark(true)">Bookmark</button>
    </div>
  </form>
</div>
